[submodule "external/tinyobjloader"]
	path = external/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11

[submodule "external/cxxopts"]
	path = external/cxxopts
	url = https://github.com/jarro2783/cxxopts

[submodule "external/miyuki.foundation"]
	path = external/miyuki.foundation
	url = https://github.com/shiinamiyuki/miyuki.foundation
