[submodule "external/tinyobjloader"]
	path = external/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11

[submodule "external/cxxopts"]
	path = external/cxxopts
	url = https://github.com/jarro2783/cxxopts

[submodule "external/miyuki.foundation"]
	path = external/miyuki.foundation
	url = https://github.com/shiinamiyuki/miyuki.foundation
[submodule "external/oidn"]
	path = external/oidn
	url = https://github.com/OpenImageDenoise/oidn
[submodule "external/PerlinNoise"]
	path = external/PerlinNoise
	url = https://github.com/Reputeless/PerlinNoise
[submodule "external/nanort"]
	path = external/nanort
	url = https://github.com/lighttransport/nanort
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
